<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/books"            routerLinkActive="active" >Livres</a></li> <!-- remplacement de href par routerLink -->
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!isAuth"><a routerLink="/auth/signup"      routerLinkActive="active">Créer un compte</a></li>
      <li *ngIf="!isAuth"><a routerLink="/auth/signin"      
        routerLinkActive="active">Connexion</a></li>  <!-- routerLinkActive -- ajoute la classe "active" qd route active -->
        
      <li *ngIf="isAuth"><a (click)="signOut()" style="cursor:pointer;">Déconnexion</a></li>
      {{isAuth}}
    </ul>
  </div>
</nav>